<!DOCTYPE html>
<html ng-app="LibraryApp">
<head>
    <title>Library</title>
	<meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="scripts/controller.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
</head>
<body ng-controller="LibraryController as ctrl">
    <h1 ng-show="loading">Loading...</h1>
    <div ng-show="!loading" class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">Add Book</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form ng-submit="ctrl.addBook()">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control" ng-model="newBook.Title" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Author</label>
                                        <input type="text" class="form-control" ng-model="newBook.Author" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Publish Date</label>
                                        <input type="date" class="form-control" ng-model="newBook.PublishDate" required>
                                    </div>
                                    <div class="form-group">
                                        <label>ISBN</label>
                                        <input type="text" class="form-control" ng-model="newBook.ISBN" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save Book</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Books</h3>
                <div class="list-group" >
                    <a ng-repeat="book in books | filter: $ctrl.search" ng-click="ctrl.changeSelected($index)" ng-class="{active: selectedBook === $index}" class="list-group-item list-group-item-action">
                        <b>{{book.Title}}</b></br>
                        <span><i>{{book.Author}}</i>, {{book.ISBN}}, {{book.PublishDate | date:"dd-MM-yyyy"}}</span>                        
                    </a>
                </div>
                <input class="form-control" ng-model="$ctrl.search" placeholder="Find a book" />
            </div>
            <div class="col-md-6" ng-show="selectedBook >= 0">
                <h4>Reservation for {{books[selectedBook].Title}}</h4>
                <ul>
                    <li ng-repeat="reservation in reservations" ng-show="reservation.BookId === books[selectedBook].Id">Reservation: {{reservation.Id}}. Reserved from {{reservation.ReservationStart}} to {{reservation.ReservationEnd}}</li>
                </ul>
                <button data-toggle="collapse" data-target="#reservation" type="button" class="btn btn-default" ng-click="ctrl.setUpForm()" id="reservationButton">Make reservation</button>
                <form id="reservation" class="collapse" ng-submit="ctrl.makeReservation()">
                    <div class="form-group">
                        <label>Reserve from</label>
                        <input type="text" id="datepickerFrom" class="form-control" ng-model="reservation.ReservationStart" required>
                        <!--<input name="startDate" type="date" class="form-control" ng-model="reservation.ReservationStart"> -->
                    </div>
                    <div class="form-group">
                        <label>Reserve to</label>
                        <!--<input type="date" class="form-control" ng-model="reservation.ReservationEnd"> -->
                        <input type="text" id="datepickerTo" class="form-control" ng-model="reservation.ReservationEnd" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Reserve</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
